body {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    user-select: none;
}

body > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 33vw;
    max-width: 240px;
    padding-bottom: 64px;
    filter: grayscale() opacity(0.5);
}

input {
    min-width: 240px !important;
    max-width: 240px !important;
    margin-bottom: 16px;
    text-align: center;
    font-family: monospace;
    /*border: 1px solid #F64087 !important;*/
}

.buttons {
    justify-content: flex-end;
    min-width: 240px;
}