body {
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    background-color: white;
    min-height: 100vh;
    user-select: none;
}

#card-list {
    height: calc(100vh - 64px - 96px);
    overflow-y: scroll;
}

#header, #footer {
    position: sticky;
    display: flex;
    justify-content: center;
}

#header {
    height: 64px;
    background-color: #F54087;
}

#footer {
    height: 96px;
}

.card {
    box-shadow: none !important;
}

.card.to {
    background-color: #F3F3F3;
    margin-left: 48px !important;
}

.card.from{
    background-color: #ECF2FE;
    margin-right: 48px !important;
}